{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="display-2">Films list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Langue</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in entities %}
            <tr>
                <td><a href="{{ path('film_show', { 'id': film.id }) }}">{{ film.id }}</a></td>
                <td><img src="{{ asset('uploads/films/' ~ film.image) }}" width="100" height="100" ></td>
                <td>{{ film.titre }}</td>
                <td>{{ film.description }}</td>
                <td>{{ film.langue }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-default m-1" href="{{ path('film_show', { 'id': film.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-primary m-1" href="{{ path('film_edit', { 'id': film.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
      {{ knp_pagination_render(entities) }}
    </div>
    <ul>
        <li>
            <a href="{{ path('film_new') }}">Create a new film</a>
        </li>
    </ul>
{% endblock %}
